{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="İsim">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Soyisim">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Kargo Bilgileri</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Adres">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="Şehir">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="İlçe">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Posta Kodu">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Devam">
            </form>

        </div>
       
<br>
<div class="box-element hidden" id="payment-info">
	<small>Ödeme</small>
</div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Sepete Geri Dön</a>
                <hr>
                <h3>Sipariş Özeti</h3>
                <hr>
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{% static 'images/640x360.png' %}"></div>
                    <div style="flex:2"><p>Ürün 1</p></div>
                    <div style="flex:1"><p>200.00 TL</p></div>
                    <div style="flex:1"><p>x2</p></div>
                </div>
                <h5>Ürün:   2</h5>
                <h5>Toplam:   $40</h5>
            </div>
        </div>
    </div>
</div>


{% endblock content %}